Package: com.skyglow.mapsx
Name: MapsX
Version: 3.2.1
Architecture: iphoneos-arm
Description: This tweak fixes Apple Maps and any MapView in the system (asking Siri for location...).
Maintainer: Requis
Author: Requis
Depiction: http://cydia.skyglow.es/depictions/com.skyglow.mapsx/depictions/index.html
Icon: file:///Library/Application%20Support/com.skyglow.mapsx/MapsX-Icon.png
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
